[submodule "cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm
[submodule "glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/Logger"]
	path = vendor/Logger
	url = https://github.com/gamer-guy12/Logger
